.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #51ceea;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgb(69, 121, 203);
  border-radius: 0.3rem;

}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #0d819b;
  border: 1px solid #01d28e;
  color:white;
  padding: 10px 20px;
  border-radius: 0.3rem;
}

input[type="submit"]:hover {
  background: #6c9af0;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 2rem;
  border-radius: 0.3rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}
.credits{
  display: flex;
  width:100%;
  padding: 1rem;
  background-color: rgb(244, 247, 249);
  color: darkgray;
  position: fixed;
  bottom:0;
  text-align: center;
  font-size: small;
  justify-content: center;
}